:root {
    --menù-size-sml: 40px; 
}

.bordered {
    border: 2px dashed red;
    min-width: 50px;
    min-height: 50px;
    padding: 10px;
}

main {
    height: calc(100vh - 56px);
}
/* left-menù */

.left-menù .container-fluid {
    /* min-width: var(--menù-size-sml); */
    height: 100%;
    background-color: #10263d;
    color: white;
}

/* main-body */

.main-body {
    width: 100%;
    background-color: yellow;
}

.body-menù .container-fluid {
    background-color: aqua;
    height: 100px;
}

.row * {
    background-color: #10263d;
}