:root {
    --menù-size-sml: 40px; 
}



.bordered {
    border: 2px dashed red;
    min-width: 50px;
    min-height: 50px;
    padding: 10px;
}

main {
    height: calc(100vh - 56px);
}

img {
    max-width: 10%;
}
/* left-menù */

.left-menù {
    width: 40px;
}

.left-menù .container-fluid {
    height: 100%;
    background-color: #10263d;
    color: white;
}

/* main-body */


.col-12 {
    min-height: 50px;
    
}
.main-body {
    width: 100%;
    background-color: yellow;
}

.body-menù .container-fluid {
    background-color: aqua;
    height: 100px;
}

/* .row * {
    background-color: #10263d;
} */


/* MEDIA QUERY */

@media screen and (min-width: 768px) {
    .left-menù {
        width: 200px;
    }
}